node_modules/
.DS_Store

# Vite
/dist-renderer/

# Electron compiled output
/dist-electron/

# Backend compiled output
/dist-backend/

# Local env
.env

# Firebase
.firebase/

# Cloud Functions
/functions/node_modules/
/functions/lib/
/functions/engine/
